
.divGeneral{
    height: 100vh;
    background: url("./imagen.jpg");
    background-size: cover;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton_inicio{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center; 
    width: 100px;
    height: 40px;
    margin-top: 250px;
    font-size: 20px;
    border-radius: 20px; 
    text-decoration: transparent;
    background-color: gray;
    color: white;
    cursor: pointer;
    border: 2px solid black;
    
}

.boton_inicio:hover{
    transform: scale(0.8);
    transition-duration: 0.5s;
    background-color: darkred;
}