.divTitulo{
    background-color: rgba(247, 114, 99, 0.753);
    margin-left: 37%;
    margin-right: 33%;
}

.Titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: white;
}

.formulario{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color:rgb(128, 128, 128);
    height: 1450px;
    width: 550px;
    margin-left: 30%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.opciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    margin-left: 20px;
}

.h4_options_title{
    margin-left: 25px;
    font-size: 19px;
}

.Input{
    border-radius: 10px;
    height: 20px;
    width: 300px;
    margin-left: 20px;
}

.div_botonCreate{
    margin-right: 18%;
}

.btn_create{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center; 
    width: 120px;
    height: 47px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(186, 50, 0);
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border: 3px solid black;
    margin-top: 20px;
    margin-left: 45%;
}

.btn_create:hover{
    background-color: rgb(0, 147, 0);
    color: black;
}

.plataformas_select{
    display: flex;
    flex-direction: column;
}
